/*
Media Queries Menager

--- Brakepoints ---
0 -> 600px          phone
600px -> 900px      tab-port
900px -> 1200px     tab-land
1200px -> 1800px    desk
1800px -> ...       big-desk

ORDER  Base + Typography -> General Layout + Grid -> Page Layout -> Components

*/
@keyframes sliderLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes sliderRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes sliderBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translteY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: lato, sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 4rem; }
  .heading-primary__main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    animation: sliderLeft 1s ease-in; }
    @media (max-width: 37.5em) {
      .heading-primary__main {
        letter-spacing: 2rem;
        font-size: 5rem; } }
  .heading-primary__sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    animation: sliderRight 1s ease-in; }
    @media (max-width: 37.5em) {
      .heading-primary__sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  @media (max-width: 75em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(1.5deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem; }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-text-center {
  text-align: center !important; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 0; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 55rem; } }

[class^=col] {
  float: left; }
  [class^=col]:not(:last-child) {
    margin-right: 6rem; }
    @media (max-width: 56.25em) {
      [class^=col]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4rem; } }
  @media (max-width: 56.25em) {
    [class^=col] {
      width: 100% !important; } }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3); }

.col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4); }

.col-2-of-3 {
  width: calc(((100% - 6rem * 2) / 3) * 2 + 6rem); }

.col-2-of-4 {
  width: calc(((100% - 6rem * 3) / 4) * 2 + 6rem); }

.col-3-of-4 {
  width: calc(((100% - 6rem * 3) / 4) * 3 + 6rem * 2); }

.header {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/hero-small.jpg");
  background-position: top;
  background-size: cover;
  height: 85vh;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right, rgba(255, 185, 0, 0.7), rgba(255, 119, 48, 0.7)), url("../img/hero.jpg"); } }
  @media (max-width: 56.25em) {
    .header {
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem; }
  .header__logo-box img {
    height: 3rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 6rem 0; } }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 15rem; }
  .footer__nav {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid #777; }
    @media (max-width: 56.25em) {
      .footer__nav {
        text-align: center;
        width: 100%; } }
  .footer__list {
    list-style: none; }
    .footer__list-item {
      display: inline-block; }
      .footer__list-item:not(:last-child) {
        margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    background-color: #333;
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 1.4rem;
    transition: all .2s;
    display: inline-block; }
  .footer__link:hover {
    transform: rotate(5deg) scale(1.3);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    color: #55c57a; }
  .footer__copy {
    padding-top: 2rem;
    border-top: 1px solid #777;
    width: 82%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copy {
        float: none;
        width: 100%; } }
  .footer__text {
    font-size: 1.3rem; }

.nav {
  position: relative; }
  .nav__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(#7ed56f, #28b485);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 100;
    transition: transform 0.4s cubic-bezier(0.75, 0.18, 0.84, 0.63); }
    @media (max-width: 56.25em) {
      .nav__background {
        top: 3.5rem;
        right: 3.5rem; } }
  .nav__checkbox {
    display: none; }
  .nav__button {
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: #eee;
    z-index: 200; }
    @media (max-width: 56.25em) {
      .nav__button {
        top: 3rem;
        right: 3rem; } }
  .nav__box {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: -60rem;
    z-index: 150;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.47, -0.31, 0.33, 1.43); }
  .nav__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 100%; }
  .nav__item {
    margin-bottom: 1rem; }
  .nav__link {
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
    background-size: 230%;
    transition: all .4s;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
    .nav__link:hover, .nav__link:active {
      background-position: 100%;
      color: #55c57a;
      transform: translateX(1rem); }
    .nav__link span {
      margin-right: 1.5rem;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden; }
  .nav__checkbox:checked ~ .nav__background {
    transform: scale(80); }
  .nav__checkbox:checked ~ .nav__box {
    opacity: 1;
    visibility: visible;
    left: 0; }
  .nav__checkbox:checked ~ .nav__button .nav__icon {
    background-color: transparent; }
    .nav__checkbox:checked ~ .nav__button .nav__icon:before {
      transform: rotate(135deg);
      top: 0; }
    .nav__checkbox:checked ~ .nav__button .nav__icon:after {
      transform: rotate(-135deg);
      top: 0; }
  .nav__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .nav__icon, .nav__icon:before, .nav__icon:after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: #333;
      transition: all .3s; }
    .nav__icon:before {
      content: "";
      position: absolute;
      top: -.8rem;
      left: 0; }
    .nav__icon:after {
      content: "";
      position: absolute;
      top: .8rem;
      left: 0; }
  .nav__button:hover .nav__icon:before {
    top: -1rem; }
  .nav__button:hover .nav__icon:after {
    top: 1rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all .4s; }
  @supports (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
    .popup {
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px); } }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 75%;
    display: table;
    background-color: #fff;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    overflow: hidden;
    transition: all .4s; }
    @media (max-width: 56.25em) {
      .popup__box {
        display: block; } }
  .popup:target .popup__box {
    transform: translate(-50%, -50%) scale(1); }
  .popup__img {
    width: 100%;
    display: block; }
    @media (max-width: 56.25em) {
      .popup__img {
        display: block;
        float: left;
        max-width: 50%;
        height: auto; }
        .popup__img::after {
          content: "";
          display: table;
          clear: both; } }
  .popup__left {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 56.25em) {
      .popup__left {
        width: 100%;
        display: block;
        max-height: 24vw;
        overflow: hidden; } }
  .popup__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    position: relative; }
    @media (max-width: 56.25em) {
      .popup__right {
        width: 100%;
        display: block; } }
    @media (max-width: 37.5em) {
      .popup__right {
        padding: 2rem 2rem; } }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid #999;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media (max-width: 37.5em) {
      .popup__text {
        column-gap: 1rem; } }
  .popup__button:link, .popup__button:visited {
    position: absolute;
    top: 1rem;
    right: 2rem;
    text-decoration: none;
    color: #777;
    font-size: 3rem; }
    @media (max-width: 37.5em) {
      .popup__button:link, .popup__button:visited {
        top: -1rem;
        right: 1rem; } }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  padding: 1.4rem 3.5rem;
  text-transform: uppercase;
  position: relative;
  transition: all .2s;
  border: none; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleY(1.7) scaleX(1.5);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translatey(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.btn--animation {
  animation: sliderBottom .7s ease-in .75s;
  animation-fill-mode: backwards; }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all .7s; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  color: #55c57a;
  border-bottom: solid 1px #55c57a;
  padding: .2rem 1rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  border-radius: 2px;
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.25); }

.card {
  height: 52rem;
  -moz-perspective: 120rem;
  perspective: 120rem;
  position: relative; }
  .card__side {
    height: 52rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 4px; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    overflow: hidden;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5-600.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 18.75em) and (max-width: 93.75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 18.75em) and (max-width: 93.75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 93.75em), (min-resolution: 192dpi) and (min-width: 93.75em) {
        .card__picture--1 {
          background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5-1000.jpg); } }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 18.75em) and (max-width: 93.75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 18.75em) and (max-width: 93.75em), (min-resolution: 192dpi) and (min-width: 93.75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 93.75em) {
        .card__picture--2 {
          background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6-1000.jpg); } }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
      @media (min-resolution: 192dpi) and (min-width: 18.75em) and (max-width: 93.75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 18.75em) and (max-width: 93.75em), (min-resolution: 192dpi) and (min-width: 93.75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 93.75em) {
        .card__picture--3 {
          background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7-1000.jpg); } }
  .card__heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    color: #fff;
    width: 70%; }
  .card__heading-span {
    padding: .6rem 1.2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        display: block; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    text-align: center;
    margin-bottom: 10rem; }
  .card__price-only {
    font-size: 1.4rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      background-color: #fff;
      overflow: hidden; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0; }
        .card__side--back {
          transform: rotateY(0);
          box-shadow: 0;
          border-radius: 0;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        padding: 4rem; }
      .card__price-box {
        margin-bottom: 4rem; }
      .card__price-only {
        font-size: 1.4rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all .23s;
    z-index: 10;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 33.33333333%;
        position: relative;
        float: left; } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.1); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.2);
          z-index: 20; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      transform: scale(1.07) translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
      outline: 1rem solid #55c57a;
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  padding: 2.5rem;
  background-color: #eee;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.8);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      width: 75%;
      margin: 0 auto; } }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; }
  .feature-box:hover {
    transform: scale(1.05) translateY(-1rem); }

.form {
  width: 50%;
  padding-top: 6rem; }
  @media (max-width: 75em) {
    .form {
      width: 65%; } }
  @media (max-width: 56.25em) {
    .form {
      width: 100%; } }
  .form__group {
    margin-left: 6rem; }
    @media (max-width: 56.25em) {
      .form__group {
        margin-left: 0;
        text-align: center; } }
    .form__group:not(:last-child) {
      margin-bottom: 2rem; }
  .form__input {
    display: block;
    width: 80%;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    transition: all .3s; }
    @media (max-width: 56.25em) {
      .form__input {
        width: 90%;
        margin: 0 auto; } }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid #55c57a;
      transition: all .4s; }
    .form__input:invalid:focus {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3.5rem); }
  .form__label {
    font-size: 1.2rem;
    padding-left: 1.5rem;
    margin-top: .5rem;
    display: block;
    opacity: 1;
    transition: all .3s; }
  .form__radio-group {
    display: inline-block;
    width: 49%; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    padding-left: 4rem;
    position: relative;
    cursor: pointer; }
  .form__radio-button {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border: 4px solid #55c57a;
    position: absolute;
    top: -.5rem;
    left: 0; }
    .form__radio-button::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: #55c57a;
      opacity: 0;
      transition: opacity .3s; }
  .form__radio-input:checked + .form__radio-label .form__radio-button::after {
    opacity: 1; }

.story {
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  margin: 0 auto;
  padding: 6rem 7rem;
  transform: skewX(-12deg);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .story {
      width: 80%; } }
  @media (max-width: 56.25em) {
    .story {
      transform: skewX(0);
      width: 100%;
      padding: 5rem 5rem; } }
  .story__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    transform: skewX(12deg);
    overflow: hidden;
    position: relative;
    border: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border: none; } }
    @media (max-width: 56.25em) {
      .story__shape {
        transform: skewX(0); } }
    @media (max-width: 37.5em) {
      .story__shape {
        float: none;
        margin: 0 auto 3rem auto; } }
  .story__img {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    transition: all .3s;
    backface-visibility: hidden; }
  .story__text {
    transform: translateX(3rem) skewX(12deg); }
    @media (max-width: 56.25em) {
      .story__text {
        transform: translateX(1rem) skewX(0); } }
  .story:hover .story__img {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(2px) brightness(0.8); }
  .story__figcaption {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    font-size: 1.6rem;
    opacity: 0;
    transition: all .3s; }
  .story:hover .story__figcaption {
    transform: translate(-50%, -50%);
    opacity: 1; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video video {
    object-fit: cover;
    height: 100%; }

.section-about {
  background-color: #f7f7f7;
  padding: 35rem 0 20rem 0;
  margin-top: -30rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 30rem 0 20rem 0;
      margin-top: -25rem; } }

.section-features {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4-small.jpg");
  background-size: cover;
  padding: 18rem 0;
  transform: skewY(-6deg);
  margin-top: -10rem; }
  @media (min-resolution: 192dpi) and (min-width: 31.25em), (min-width: 62.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 31.25em), (min-width: 62.5em) {
    .section-features {
      background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg"); } }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 12rem 0; } }
  .section-features > * {
    transform: skewY(6deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 23rem 0 10rem 0;
  margin-top: -8rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 18rem 0 8rem 0; } }

.section-story {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-story {
      padding: 8rem 0; } }

.section-book {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 8rem 0; } }

.book {
  width: 100%;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%, transparent), url(../img/nat-10-600.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  @media (min-resolution: 192dpi) and (min-width: 20em), (min-width: 75em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 20em), (min-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%, transparent), url(../img/nat-10-1000.jpg); } }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 65%, transparent), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
      background-size: cover; } }
