// Color
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-yellow-light: #ffb900;
$color-yellow-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-white: #fff;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-light: #f7f7f7;
$color-gray-light-2: #eee;

$color-black: #000;

// Grid sizes
$width-grid: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;